.notification {
  visibility: visible;
  min-width: 250px;
  margin-left: -125px;
  color: #333;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 999;
  top: 40px;
  right: 30px;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: fadein 0.3s, fadeout 0.3s 4400ms forwards;
  .notification-content {
    display: flex;
    align-items: center;
    .notification-message {
      flex: 1;
    }
    .close-icon {
      margin-left: 16px;
      margin-right: 6px;
    }
    .close-icon::before {
      font-size: 14px;
    }
  }
}

@-webkit-keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}
