.modal-title {
  font-size: 16px;
  font-weight: 500;
}

.select-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.message {
  position: absolute;
  left: 25px;
  color: rgb(206, 4, 31);
  bottom: 15px;
}

.size-select {
  width: 100px;
}

.title-select {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-10 {
  margin-left: 10px;
}
