@import "../../../style/abstracts/variables";

.title_text{
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 0
}
.class_setup{
	margin-top: 50px;
	&_header{
		margin-left: 50px;
	}
	&_container{
		display: flex;
		flex-direction: row;
		margin-top: 20px;
		.class_info{
			flex:1;
			padding: 30px 0 0 50px;
			background-color: rgb(245, 245, 245);
			border-radius: 5px;
			margin-right: 15px;
			&_session{
				margin-bottom: 20px;
			}
			&_member{
				margin-top: 50px;
				.list_student{
					height: 200px;
					overflow-y: scroll;
					&_inactive{
						opacity: 0.6;
					}
				}
				.student_status{
					font-weight: 700;
				}
				&_active{
					margin-bottom: 40px;
				}
			}
			
		}
		.device_setup{
			flex: 2;
			padding: 30px 0 0 100px;
			background-color: rgb(217, 217, 217);
			border-radius: 5px;
			.device-tester {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.progress{
					width: 400px;
				}
				&__camera {
				  &--player {
					width: 100%;
					margin: 0 auto;
					height: 300px;
					overflow: hidden;
					@media (min-width: $lap) {
					  height: 350px;
					}
					&__icon {
					  width: 30px;
					  height: 30px;
					  margin-bottom: 10px;
					  img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					  }
					}
					&__text {
					  color: white;
					}
					&.hided {
					  background-color: black;
					  display: flex;
					  flex-direction: column;
					  justify-content: center;
					  align-items: center;
					}
				  }
				}
			  
				&__check-mic-cam {
				  @media (max-width: $xs) {
					flex-direction: column;
					align-items: start;
					.ant-switch {
					  margin: 10px 0;
					}
					.ant-select {
					  width: 100% !important;
					}
				  }
				}
				&__speaker {
				  &--icon{
					width: 45px;
					height: 45px;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					img {
					  width: 80%;
					  height: 80%;
					  object-fit: contain;
					}
				  }
				}
				&__mess-teacher-error {
				  color: red;
				}
				&__unit-lesson {
				  min-width: 50px;
				}
				&__mt{
					margin-top: 80px;
				}
				&__default {
					width: 600px;
					display: flex;
					flex-direction: row;
					margin-bottom: 10px;
				  &--lt {
					flex: 1;
				  }
				  &--rt {
					flex: 2;
					display: flex;
					justify-content: flex-end;
				  }
				}
				&-icon{
					margin-right: 10px;			
				}
				&__join_session_btn{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 150px;
					height: 40px;
					color: white;
					border: none;
					border-radius: 5px;
					text-align: right;
					img{
						margin-right: 10px;
					}
					&_active{
						cursor: pointer;
						background-color: $main-color;
					}
					&_disable{
						background-color: rgb(122, 116, 126);
						cursor: not-allowed;
					}
				}
				&__cancel{
					cursor: pointer;
					text-decoration: underline;
				}
			  
			  }
			  
		}
		.alert-device-test {
			margin-bottom: 20px;
			color: #f34646;
			cursor: default;
		}
		  .sound-img{
			  width: 40px;
			  height: 30px;
			}
		  
	}
}
.ant-switch-checked {
	background-color: $main-color;
}

