.base-button {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 4px;
}

.base-button:hover {
  cursor: pointer;
}

.button-fill {
  background-color: #00000069;
}

.button-primary {
  background: #00a1ed;
}

.button-outline {
  background: none;
  border: solid 1px;
}

.color-primary {
  color: #00591b;
}
