.sc-gallery-item {
  $self: &;

  $one-on-one-size: 400px;

  $current-item-size: 150px;
  $current-item-size-lg: 200px;
  $current-item-size-xxl: 300px;

  $star-size: 28px;
  $star-size-xl: 38px;

  background-color: #ccc;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: rgba(0, 161, 237, 0.15);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    z-index: -1;
    transition: 0.1s;
  }
  &--speaking::before {
    transform: translate(-50%, -50%) scale(1);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    -webkit-user-drag: none;
  }
  &__video {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    // For safari
    &::v-deep video {
      border-radius: 50%;
    }
  }

  &__title {
    color: #0b0b0b;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    margin: 0;
    padding-top: 5px;

    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 150%;
    transform: translateX(-15%);
  }

  &__star {
    background: #f2a11f 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    width: $star-size;
    height: $star-size;
    position: absolute;
    transform: rotate(20deg);
    display: inline-block;
    text-align: center;
    right: 15%;
    bottom: 5%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: inherit;
      transform: rotate(135deg);
      z-index: -1;
    }
    &__content {
      font-size: 14px;
      color: #fff;
      z-index: 1;
      transform: rotate(-20deg);
      display: block;
      line-height: $star-size;
      font-weight: 600;
    }
  }
  &--current,
  &--one-on-one {
    transform: translate(-50%, -50%);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.2s;
  }
  &--current {
    width: $current-item-size;
    height: $current-item-size;
    #{$self}__title {
      min-width: 100%;
      transform: none;
    }
  }
  &--one-on-one {
    width: $one-on-one-size;
    height: $one-on-one-size;
    #{$self}__title {
      padding-top: 30px;
      font-size: 32px;
      line-height: 32px;
    }
    #{$self}__star {
      width: 50px;
      height: 50px;
      right: 50px;
      bottom: 40px;
      &__content {
        font-size: 24px;
        line-height: 50px;
      }
    }
  }

  @media (min-width: 1200px) {
    &__title {
      font-size: 16px;
      line-height: 16px;
    }
    &--current {
      width: $current-item-size-lg;
      height: $current-item-size-lg;
    }
    &__video {
      max-height: 500px;
    }
    &__star {
      width: $star-size-xl;
      height: $star-size-xl;
      &__content {
        font-size: 18px;
        line-height: $star-size-xl;
      }
    }
  }
  @media (min-width: 1400px) {
    &__title {
      font-size: 16px;
      line-height: 16px;
    }
    &--current {
      width: $current-item-size-xxl;
      height: $current-item-size-xxl;
    }
    &__video {
      max-height: 500px;
    }
  }
}

.user-speaking {
  border: 4px solid #00a1ed;
}
