$border-radius: 4px;
.tag-container {
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  border-radius: $border-radius;
  padding: $border-radius 3 * $border-radius;
}
.tag-container:hover {
  background-color: rgb(50, 50, 158);
  cursor: pointer;
}
