.sc {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
}

.sc-header {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 85px;
  &__left {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    background-color: #00a1ed;
    color: #fff;
    padding: 0 30px;
    border-radius: 0 0 60px 0;
  }
  &__right {
    position: relative;
    padding: 0 30px;
    padding-right: 90px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #000;
    img {
      width: 100%;
      height: 100%;
      transform: scale(1.04);
    }
  }
  &__trainer {
    margin: 0;
  }
  &__title {
    margin: 0;
  }
  &__exit {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none !important;
    background: #fff;
    box-shadow: 0 3px 0 #00000029;
    padding: 5px 20px 12px 30px;
    font-size: 24px;
    border-radius: 0 0 0 50px;
    border-left: 1px solid #00000029;
  }
  @media (min-width: 992px) {
    &__right {
      padding-right: 30px;
    }
  }
}

.sc-body {
  display: grid;
  grid-template-columns: 1fr 180px;
  grid-template-rows: 0.8fr 1fr;
  @media (min-width: 992px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 150px;
  }
  @media (min-width: 1200px) {
    grid-template-rows: 1fr 160px;
  }
}

.sc-content {
  display: flex;
  flex-direction: row;
  padding: 20px;
  grid-column-end: 3;
  grid-column-start: 1;

  &__bottom {
    padding-top: 20px;
    flex: auto;
    & > * {
      height: 100%;
    }
  }
  @media (min-width: 992px) {
    padding: 40px;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-end: unset;
    grid-column-start: unset;
  }
}

.sc-teacher {
  height: 100%;
  &__video {
    background: #eaeaea;
    width: 100%;
    height: 100%;
    max-height: 320px;
    max-width: 600px;

    border-radius: 30px;
    overflow: hidden;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }

  &__one-to-one {
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 50%;
  }

  @media (min-width: 1200px) {
    &__video {
      max-height: 500px;
    }
  }
}

.sc-action {
  grid-column-start: 2;
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  row-gap: 20px;

  padding-left: 40px;
  &__item {
    display: block;
  }
  &__icon {
    -webkit-user-drag: none;
    max-width: 70px;
    height: auto;
  }

  @media (min-width: 992px) {
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 15px;
  }

  @media (min-width: 1200px) {
    grid-column-gap: 30px;
    &__icon {
      max-width: 100px;
    }
  }
}

.sc-lessonplan {
  width: 100%;
  height: 100%;
}
