$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$lap: 1366px;
$xxl: 1400px;
$large-lap: 1600px;

$lapMaxHeight: 700px;
$lapMinHeight: 600px;

$font-family: "Segoe UI", Arial, sans-serif;

$border-color-main: darkgray;
$border-radius-main:10px;
