@import "../../style/abstracts/variables";
$scale-ratio: 0.66;

.tc {
  height: 100vh;
  overflow: hidden;
  &__modal__notice {
	  margin-top: 16px;
  }
  &__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: $header-height;
    width: 100%;
    z-index: 2;
  }
  &__main {
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    column-gap: 1.5rem;
  }
  &__sidebar {
    width: 320px;
    transition: 0.2s;
    overflow: visible;
    border-bottom: 1px solid #7b7b7b;
    &--collapsed {
      margin-left: -240px;
    }
  }
  &__content {
    padding: 5px;
    height: 100%;
    overflow: auto;
    &__teacher {
      &--gallery {
      }
      img {
        width: 100px;
        height: 100px;
      }
    }
    &__activity-content {
      flex: auto;
      min-height: 70%;
    }
    &__whiteboard-content {
      display: grid;
      grid-template-columns: 550px 1fr;
      grid-template-rows: 330px auto;
      grid-gap: 5px;
      width: 717px;
      height: 100%;
    }
    @media (max-width: $large-lap) {
      &__whiteboard-content {
        transform: scale($scale-ratio);
        transform-origin: top left;
        will-change: transform;
        margin-right: -240px;
      }
    }
  }
  &__gallery {
    position: relative;
    height: 100%;
    overflow-y: auto;
    flex: 1 1 0;
    padding: 12px 0;
	scrollbar-gutter: stable;
  }

  &__preview-wrapper {
	width: 717px;
	height: 484px;	
	border: 4px solid black;
	position: absolute;
	z-index: 10;
	overflow: hidden;
	top: 30px;
	left: 50%;
	border-radius: 8px;
	background-color: white;
	transform: translateX(-50%);
	@media (max-width: $large-lap) {
		  transform: scale($scale-ratio) translateX(-50%);
		  transform-origin: top left;
		   will-change: transform;
	  }

	  .preview-header {
		width: 100%;
		height: 40px;
		border-bottom: 1px solid gray;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	  }
	  .preview-body {
		width: 100%;
		height: 100%;	
	  }
	  .close-icon {
		width: 20px;
		height: 20px;
	
	  }
	  .close-container{
		margin-right: 15px;
		:hover{
			cursor: pointer;
		}
	  }
  }

  @media (min-width: $lg) {
    &__content {
      flex-direction: row-reverse;

      &__activity-content {
        min-width: 70%;
      }
    }
  }
  @media (min-width: $xl) {
    grid-template-rows: auto 1fr;

    &__header {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    &__gallery {
      grid-column-start: unset;
      grid-column-end: unset;
      //height: 100%;
    }
    &__content {
      flex-direction: column;
    }
  }
  @media screen and (min-width: $xl) and (max-width: $large-lap) {
    grid-template-columns: auto 1fr auto;
    &.no-sidebar {
      grid-template-columns: auto 1fr 1fr;
    }
  }
  &.has-sidebar {
    &.mode-one-one {
      grid-template-columns: auto 1fr auto;
      .tc__sidebar {
        position: absolute;
        z-index: 9999;
        background: #fff;
        left: -240px;
        height: 100%;
        box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.15);
        &--one-one {
          left: 0;
        }
      }
      .tc__content {
        padding-left: 85px;
      }
    }
  }
  @media (min-width: 1600px) {
    grid-template-columns: auto auto 1fr;
    grid-column-gap: 5px;
    &__content {
      &__activity-content {
        min-height: 60%;
      }
    }
    &.no-sidebar {
      grid-template-columns: auto 1fr 1fr;
    }
  }
}
