.container {
  display: flex;
  flex: 1;
  height: 100vh;
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .teacher-full {
      flex: 1;
      .teacher-card {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }

    .activity-content {
      flex: 1;
      margin: 10px;
    }
    .cta-container {
      display: flex;
      align-items: center;
      margin: 10px;

      .cta-button {
        height: 100%;
        width: 44px;
        min-height: 44px;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
          width: 44px;
          height: 44px;
        }
        img:hover {
          cursor: pointer;
          opacity: 0.8;
        }
        .cta-content {
          display: none;
          background-color: rgba($color: black, $alpha: 0.8);
          border: solid 1px white;
          border-radius: 4px;
          position: absolute;
          bottom: 99%;
          left: 50%;
          padding: 10px;
          color: white;
          white-space: nowrap;
          z-index: 999;
          img {
            width: 40px;
            height: 40px;
            margin-left: 5px;
            margin-right: 5px;
          }
        }
        .cta-content-show {
          display: block;
        }
      }

      .audio-bar {
        flex: 1;
      }
    }

    .view-controls {
      margin: 10px;
      background: lightgray;
      border: solid 1px gray;
      border-radius: 4px;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      grid-gap: 10px;
      padding: 10px;
      align-self: baseline;

      .view-item {
        background: white;
        display: flex;
        align-items: center;
        max-width: 240px;
        border: solid 1px white;
        .icon {
          width: 32px;
          height: 32px;
          margin: 16px;
          display: inline-block;
          background-color: gray;
        }
        .item-name {
          flex: 1;
          font-size: 16px;
          padding-right: 16px;
        }
      }
      .view-item:hover {
        cursor: pointer;
        background: lightgray;
        border: solid 1px blue;
      }
      .item-active {
        background: gray;
        border: solid 1px blue;
        .icon {
          background-color: white;
        }
        .item-name {
          color: white;
        }
      }
    }
  }
  .lesson-plan {
    flex-basis: 20%;
    background-color: lightgray;
    margin: 10px;
  }
  .gallery {
    margin: 10px;
    flex-basis: 50%;
  }
}
