.leave-modal {
  min-width: 480px;
  min-height: 320px;
  background: white;
  border-radius: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;

  .header {
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
  }
  .body {
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    flex: 1;
  }
  .footer {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .btn-secondary {
      color: gray;
      padding: 10px 16px;
      margin-right: 16px;
    }
    .btn-primary {
      padding: 10px 16px;
    }
  }
}

.modal-boxshadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
