.mt-40 {
  margin-top: 40px;
}

.m-20 {
  margin: 20px;
}
.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}
.access-denied,
.concurrent-connection {
  margin-top: 30px;
  text-align: center;
}
.align-right {
  margin-right: 0;
  margin-left: auto;
}

.teacher-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__indicator-out {
    cursor: pointer;
    margin-top: 25px;
    margin-left: 30px;
    width: 36px;
    height: 36px;
    border: 2px solid #bb261a;
    border-radius: 50%;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
  }

  &__indicator-in {
    margin: 6.5px;
    height: 18px;
    width: 18px;
    background-color: #bb261a;
    border-radius: 50%;
    display: inline-block;
  }
  &__wrapper{
	margin: 20px
  }
}
.teacher-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  position: relative;
  //   margin: auto;
  padding: 16px 60px 0;

  &__school-select {
    margin-bottom: 20px;
    align-self: center;

    .ant-select {
      width: 350px;
    }
  }

  &__classgroup {
    text-align: left;
  }
}

.group-class-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.group-class-wrapper{
  width: 568px;
  background-color: #e8e8e8;
  border-radius: 16px;
  margin-bottom: 8px;
  padding: 5px 0 10px;
}
.three-group{
  width: 800px;
}
.date-time {
  font-size: 20px;
}
.loading {
  display: flex;
  justify-content: center;

  &__animation {
    animation: loadingAnimation 2s ease-out;
    animation-iteration-count: infinite;
  }
}

.policy-content {
  max-height: 300px;
  overflow-y: scroll;
  margin-bottom: 25px;
  p {
    &:first-child {
      text-align: center;
    }
  }
}
.btn-cancel-policy {
  margin-right: 20px;
}

@keyframes pulsate {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.4, 0.4);
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
    opacity: 0.8;
  }
}

@keyframes loadingAnimation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.school-name {
  margin-left: 20px;
}

.campus {
  margin-left: 40px;
}
