.mt-40 {
  margin-top: 40px;
}

.align-right {
  float: right;
}

.calendar {
  align-items: flex-end;
  width: 30px;
  height: 30px;
}

.teacher-title {
  display: flex;
  justify-content: center;
  flex-direction: row;

  &__indicator-out {
    cursor: pointer;
    margin-top: 25px;
    margin-left: 30px;
    width: 36px;
    height: 36px;
    border: 2px solid #bb261a;
    border-radius: 50%;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
  }

  &__indicator-in {
    margin: 6.5px;
    height: 18px;
    width: 18px;
    background-color: #bb261a;
    border-radius: 50%;
    display: inline-block;
  }
}
.teacher-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: auto;

  &__school-select {
    margin-bottom: 20px;
    align-self: center;

    .ant-select {
      width: 350px;
    }
  }

  &__classgroup {
    text-align: left;
  }
}
.card-margin {
  margin: 20px;
}

@keyframes pulsate {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.4, 0.4);
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
    opacity: 0.8;
  }
}
