@import "../../../../style/abstracts/mixins";
@import "../../../../style/abstracts/variables";

.sc-header {
	display: grid;
	grid-template-columns: 50% 50%;
	height: 45px;
	overflow: hidden;
	&__left {
	  display: grid;
	  grid-template-columns: 1fr auto 20px;
	  align-items: center;
	  background-color: #00a1ed;
	  color: #fff;
	  padding: 0 10px;
	  border-radius: 0 0 60px 0;
	}
	&__right {
	  position: relative;
	  padding: 0 20px;
	  padding-right: 90px;
	  display: grid;
	  align-items: center;
	  justify-content: center;
	}
	&__icon {
	  width: 35px;
	  height: 35px;
	  border-radius: 50%;
	  overflow: hidden;
	  img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	  }
	}
	&__trainer {
	  margin: 0;
	  font-size: 22px;
	  color: inherit;
	  line-height: 22px;
	}
	&__title {
	  margin: 0;
	  font-size: 22px;
	  font-weight: 600;
	  line-height: 1;
	  @include ellipse(1, 22px);
	}
	&__exit {
	  position: absolute;
	  top: 0;
	  right: 0;
	  text-decoration: none !important;
	  background: #fff;
	  box-shadow: 0 3px 0 #00000029;
	  padding: 3px 15px 4px 20px;
	  // padding: 5px 20px 12px 30px;
	  font-size: 22px;
	  border-radius: 0 0 0 50px;
	  border-left: 1px solid #00000029;
	  color: #0b0b0b;
	  font-weight: 400;
	  cursor: pointer;
	}
	//   @media (min-width: $lg) {
	//     &__right {
	//       padding: 0 30px;
	//       padding-right: 30px;
	//     }
	//     &__title {
	//       font-size: 30px;
	//     }
	//   }
	//   @media (min-width: $xl) {
	//     &__title {
	//       font-size: 36px;
	//     }
	//   }
  }