@import "../../../../../style/abstracts/mixins";
@import "../../../../../style/abstracts/animation";
@import "../../../../../style/abstracts/variables";

.student {
  $self: &;
  $card-figure-size: 80px;
  $card-figure-size-xl: 90px;
  $card-figure-size-xxl: 100px;

  $card-figure-size--large: 200px;
  $card-figure-size--large-xl: 300px;

  display: grid;
  justify-content: center;
  text-align: center;
  align-content: start;
  position: relative;
  &__figure {
    width: $card-figure-size;
    height: $card-figure-size;
    border-radius: 50%;
    margin: 25px;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
  }
  &__video,
  &__img {
    background-color: #ddd;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
  &__video {
    &::v-deep video {
      border-radius: 50%;
    }
  }
  &__info {
    position: relative;
    z-index: 1;
  }
  &__name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
  }
  &__disable {
    color: rgb(194, 190, 190);
    cursor: default;
  }
  &__enable {
    color: black;
    cursor: pointer;
  }
  &__figure::before,
  &__figure::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00a1ed;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.1s;
    transform: scale(0.95);
  }
  &__figure::after {
    background-color: #000;
    z-index: -2;
  }
  &__hand {
    width: 60px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulsate 0.5s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    cursor: pointer;
  }

  &__is-speaking {
    @include cycle(#00a1ed, flickerAnimationVoice);
  }

  &__is-question {
    @include cycle(#dd0d0d, flickerAnimation);
  }

  &--large {
    #{$self}__figure {
      width: $card-figure-size--large;
      height: $card-figure-size--large;
    }
  }

  &--speaking &__figure::before {
    transform: scale(1.1);
  }
  &--hand-raised &__figure::after {
    transform: scale(1.2);
  }

  @media (min-width: $xl) {
    &__figure {
      width: $card-figure-size-xl;
      height: $card-figure-size-xl;
      margin-bottom: 10px;
    }
    &__name {
      font-size: 18px;
    }
    &--large {
      #{$self}__figure {
        width: $card-figure-size--large-xl;
        height: $card-figure-size--large-xl;
      }
    }
  }
  @media (min-width: $xxl) {
    &__figure {
      width: $card-figure-size-xxl;
      height: $card-figure-size-xxl;
    }
  }
}
