.designate-target-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  .backdrop {
    background-color: rgba($color: #000000, $alpha: 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .designate-box {
    background-color: white;
    z-index: 1;
    position: relative;
    overflow: hidden;
    #mediaImage {
      touch-action: none;
      -webkit-user-drag: none;
    }
    // .circle {
    //   border-radius: 50%;
    //   border: solid 4px red;
    //   position: absolute;
    //   resize: both;
    //   touch-action: none;
    // }
    // .rectangle {
    //   border: solid 4px green;
    //   position: absolute;
    //   touch-action: none;
    //   left: 0;
    //   top: 0;
    // }
  }
}
