.designate-target-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .backdrop {
    background-color: rgba($color: #000000, $alpha: 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    user-select: none;
    touch-action: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
  }
  .designate-wrap {
    max-width: 1200px;
    position: relative;
    display: flex;
    z-index: 2;
    .designate-box {
      background-color: white;
      width: 75%;
      margin-right: 15px;
      align-items: center;
      display: none;
      &.active {
        display: flex;
      }
      #mediaImage {
        touch-action: none;
        -webkit-user-drag: none;
        max-width: 100%;
      }
    }
    #canvas-container {
      display: none;
      margin-right: 15px;
      background: #f0f0f0;
      position: relative;
      &.active {
        display: block;
      }
      img {
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
      }
      .wrap-canvas {
        position: relative;
        z-index: 11;
      }
    }
    .designate-box-right {
      width: 25%;
      background: white;
      margin-left: 15px;
      position: relative;
      &--tab {
        display: flex;
        border-bottom: 1px solid black;
        .base-button {
          width: 50%;
          margin: 0;
          border-radius: 0;
          border: none;
          background: none;
          color: black;
          &.active {
            background: black;
            color: white;
          }
        }
      }
      &--tab-pane {
        display: none;
        &.active {
          display: block;
        }
      }
      h3 {
        text-align: center;
      }
      &--student-list {
        display: flex;
        flex-wrap: wrap;
      }
      &--button {
        display: flex;
        padding-top: 15px;
        .base-button {
          background: grey;
          flex-grow: 1;
          margin: 5px;
          width: 50%;
          text-align: center;
          &.green {
            background: green;
          }
        }
      }
      &__button {
        &--assign-all {
          color: black;
          margin: 0 5px 15px;
          text-decoration: underline;
        }
      }
      &__navigation {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        .base-button {
          flex: 1;
        }
      }
    }
  }
}
