.device-tester {
  &__micro {
    padding-bottom: 30px;
    &--select {
      padding: 20px 0;
    }
  }
  &__camera {
    &--player {
      width: 480px;
      height: 300px;
      &.hided {
        background-color: black;
      }
    }
  }
}
