.device-tester {
  &__micro {
    padding-bottom: 30px;
    &--select {
      padding: 20px 0;
    }
  }
  &__camera {
    padding-bottom: 30px;
    &--player {
      width: 480px;
      height: 300px;
      &.hided {
        background-color: black;
      }
    }
  }
  &__cl-status {
    &--join {
      text-decoration: underline;
      color: #00a1ed;
	  cursor: pointer;
    }
  }
}
