.sound {
  margin-top: 16px;
  background-color: white;
  border: solid 2px gray;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  .student-audio {
    display: inline-block;
    margin-right: 0.2rem;
  }
  .icon {
    margin: 4px;
  }
  .content {
    flex: 1;
  }
  .close {
    font-size: 16px;
    margin-right: 10px;
  }
  .close::before {
    color: black;
  }
}
