@import "./src/style/abstracts/variables";

.header {
  background-color: $main-color;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  .logo {
    margin: 0 15px;
    @media (max-width: $md) {
      max-width: 150px;
    }
  }
  .h-spacer {
    height: 24px;
    width: 2px;
    background-color: lightgray;
  }
  .content {
    flex: 1;
    .title {
      font-size: 20px;
      padding: 0 0 0 15px;
      @media (max-width: $md) {
        font-size: 16px;
      }
      @media (max-width: $sm) {
        font-size: 14px;
      }
    }
  }
  .locale-switcher {
    select {
      color: #000;
    }
  }
  .drawer-button-mobile {
    cursor: pointer;
    padding: 0 10px;
    font-size: 30px;
    @media (min-width: $lg) {
      display: none;
    }
  }
}
