@import "./src/style/abstracts/variables";

.calendar-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;

  .calendar-title {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  .select-container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .size-select {
    width: 200px;
  }

  .title-select {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
  }

  .mt-20 {
    margin-top: 20px;
  }
  .calender__container{
	overflow: hidden;
	.calendar {
		margin-top: 30px;
		margin-bottom: 50px;
		&__header{
			display: flex;
			justify-content: flex-start;
		}
		&__date{
			color: $main-color;
			font-size: 20px;
			font-weight: 500;
		}
		&__hide_weekends{
			margin-right: -40.5%;
		}
		&__date{
			color: $main-color;
			font-size: 20px;
		}
		&__cell{
			border: 2px solid rgba(235, 234, 234, 0.719);
			height: 300px;
			overflow: hidden;
			padding: 5px 10px;
			cursor: pointer;
		}
	  }
  }



  .month-select {
    width: 100px;
    margin-left: 10px;
  }

  .year-select {
    width: 100px;
  }
  a:hover {
    color: $main-color;
  }
}

.ml-20 {
  margin-left: 20px;
}

.control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .back-btn {
    color: black;

    span {
      display: inline-block;
      margin-left: 8px;
      font-size: 18px;
    }
  }
}

.select-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-width: 300px;
  &:not(:first-child) {
    margin-top: 12px;
  }
}

.modal-title-select {
  width: 70px;
}

.modal-size-group {
  width: 100%;
}

.modal-size-time-picker {
  width: 40%;
}

.note {
  margin-top: 30px;
  font-size: 12px;
  font-style: italic;
}

.btn-cancel {
  margin-right: 10px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.delete-position {
  align-self: flex-start;
}

.save-position {
  align-self: flex-end;
}

.loading-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warning-icon {
  width: 15px;
  position: absolute;
  top: 12px;
}

.add-icon {
  width: 15px;
  position: absolute;
  top: 12px;
  right: 32px;
  color: black;
}


.session__container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55px;
	.session-info {
		font-weight: normal;
		font-size: 13px;
		&__class-name {
		  font-weight: 500;
		  display: block;
		}
	  
		&__group {
		  margin-right: 5px;
		  font-weight: 500;
		}
	  }
}
.ant-switch-checked {
	background-color: $main-color;
}
