@import "../../../../../style/abstracts/variables";

#student-controls {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  padding: 10px 0 0;

  .student-controls__button {
    flex: 1;
    text-align: center;

    .student-controls__button--clickable {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      font-size: 19px;
      font-family: $font-family;
      font-weight: 600;
      img {
        margin-right: 6px;
      }

      .sticker-icon {
        height: 45px;
        position: relative;
        top: 5px;
      }

      .audio-icon {
        height: 25px;
        position: relative;
        top: -1px;
      }
      .video-icon {
        position: relative;
        height: 25px;
        top: -2px;
        &--open {
          height: 19px;
          top: -1px;
        }
      }
    }
  }

  @media (min-width: $xl) {
    padding: 20px 0 0;
  }
  @media (min-width: $xxl) {
    padding: 30px 0 0;
  }
}
