.item-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px gray;
  align-items: center;
  :hover{
    cursor: pointer;
  }
  .item-left {
    padding: 0 16px;
    .icon {
      width: 32px;
      height: 32px;
      background-color: lightgray;
    }
  }
  .item-content {
    flex: 1;
    padding: 10px 0;
    .name {
      font-size: 16px;
      padding-bottom: 4px;
      color: rgb(24, 22, 22);
    }
    .description {
      color: gray;
      align-items: center;
      .dot {
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: gray;
        display: inline-block;
        align-self: center;
        margin: 2px 4px;
      }
    }
  }
  .item-right {
    display: none;
  }
}

.item-active{
    background-color: #fff9c4;
    .name {
     color: black;
    }
}
