$border-radius: 4px;
.badge-container {
  width: 32px;
  height: 32px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  border-radius: $border-radius;
}
.badge-container:hover {
  background-color: rgb(58, 58, 58);
  cursor: pointer;
}
