@import "./src/style/abstracts/variables";

.class-holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.class {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 40px;

  .class__size {
    width: 200px;
    height: 100px;
    box-shadow: none;
    border: 1px solid #cccc;
    cursor: default;
  }

  .class__live-dot {
    margin-right: 0.6rem;
  }

  .class-title {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    h3 {
      margin-bottom: 0;
    }
  }
}

.class-group {
  margin-left: 20px;
  position: relative;

  &__size {
    margin: 8px;
    width: auto;
    height: 100px;
    cursor: default;
    box-shadow: none !important;
    border: 1px solid #cccc !important;
    &:hover {
      transform: translateY(-3px) scale(1.02);
    }
  }
  &__play-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.m-10 {
	padding: 0px 5px 5px 8px;
	min-width: 150px;
}

.card {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
}

.hightlight {
  border: 3px solid rgb(250, 191, 28) !important;
}

.group-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.icon-view {
	padding: 2px 4px;
	display: flex;
	align-items: flex-end;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $main-color;
  font-size: 17px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
  font-size: 12px;
}

.loading {
  display: flex;
  justify-content: center;

  &__animation {
    animation: loadingAnimation 2s ease-out;
    animation-iteration-count: infinite;
  }
}
