@import "./src/style/abstracts/variables";

.class-holder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.class {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  margin-left: 60px;

  .class__size {
    width: 200px;
    height: 100px;
    box-shadow: none;
    border: 1px solid #cccc;
    cursor: default;
    &.class-block {
      border: none;
      height: 50px;
    }
  }

  .class__live-dot {
    margin-right: 0.6rem;
  }

  .class-title {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    h3 {
      margin-bottom: 0;
    }
  }
  .class__content {
    display: flex;
  }

  &__title {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    &--name {
      font-size: 18px;
    }
  }

  .gallery {
    width: 48px;
    height: 48px;
    margin-right: 4px;
  }

  .icon-container {
    cursor: not-allowed;
  }
}
.class-group {
  margin-left: 52px;
  position: relative;

  &__size {
    background-color: #e3d6f3;
    margin: 8px;
    min-width: 216px;
    height: 110px;
    cursor: default;
    box-shadow: none !important;
    border: 1px solid #cccc !important;
    &:hover {
      transform: translateY(-3px) scale(1.02);
    }
  }
  &__play-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.m-10 {
  padding: 0px 5px 5px 8px;
  min-width: 155px;
}

.mr-10 {
  margin-right: 10px;
}
.card {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
}

.hightlight {
  border: 3px solid rgb(250, 191, 28) !important;
}

.group-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-view {
  padding: 2px 4px;
  display: flex;
  align-items: flex-end;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $main-color;
  font-size: 17px;
  margin-bottom: 0px;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.loading {
  display: flex;
  justify-content: center;

  &__animation {
    animation: loadingAnimation 2s ease-out;
    animation-iteration-count: infinite;
  }
}
.h-100 {
  height: 100%;
}

.mb {
  margin-bottom: 10px;
}
