.user-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  .user-name {
    font-size: 16px;
    font-weight: 500;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
  }
  .next-session-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    &__class {
      color: rgb(112, 110, 110);
      font-size: 14px;
      margin: 0 auto 5px;
      max-width: 170px;
      word-break: break-word;
    }
    &__time {
      display: block;
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }
  }
  .indicator-container {
    position: absolute;
    top: 25px;
    right: 5px;
    &__out {
      width: 16px;
      height: 16px;
      border: 2px solid #05e918;
      border-radius: 50%;
      animation: pulsate 1s ease-out;
      animation-iteration-count: infinite;
      position: relative;
      display: block;
    }
    &__in {
      height: 8px;
      width: 8px;
      background-color: #05e918;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.user-avatar {
  flex: 2;
  max-width: 150px;
  object-fit: contain;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@keyframes pulsate {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.9, 0.9);
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
    opacity: 0.8;
  }
}
