@import "../../../../style/abstracts/variables";

.tc-video {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
  max-width: 80%;
  margin: auto;
  &__figure {
    width: 100%;
    background-color: #ddd;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;

    &::v-deep video {
      border-radius: 10px;
    }
  }
  &__video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    &::v-deep > div {
      background-color: transparent !important;
    }
  }
}

.tc-action {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: grid;
  grid-auto-flow: row;
  column-gap: 5px;
  text-align: center;
  &__item {
    max-width: 55px;
    img {
      max-width: 100%;
      height: auto;
    }
    &--wifi {
      margin-top: 5px;
      width: 40px;
      height: 40px;
    }
  }
  @media (min-width: $xl) {
    &__item {
      max-width: 50px;
    }
  }
}
