.container {
    display: flex;
    flex-direction: column;
    .btn-return {
        margin-bottom: 10%;
    }
    .student-card {
        align-self: center;
        width: calc(30vh - 20px);
        height: calc(30vh - 20px);
        background-color: lightgray;
    }
}