.tc-one {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  &__right {
    position: absolute;
    top: 20px;
    right: 20px;
    display: grid;
    column-gap: 20px;
    grid-auto-flow: column;
  }
  &__time {
    font-size: 20px;
    font-weight: 400;
  }
  &__action {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    max-width: 5rem;
    height: auto;
    &__image {
      width: 100%;
      height: 100%;
    }
    &__text {
      display: block;
      padding: 0;
      font-weight: 400;
    }
  }
}
