@import "../../../../../style/abstracts/mixins";
@import "../../../../../style/abstracts/variables";
@import "../../../../../style/abstracts/animation";

.student-action {
  $gallery-size: (
    $xs: 130px,
    $sm: false,
    $md: false,
    $lg: false,
    $xl: false,
    $xxl: 160px,
  );
  $gallery-item-size: (
    $xs: 45px,
    $sm: false,
    $md: false,
    $lg: false,
    $xl: false,
    $xxl: 50px,
  );
  @include draw-items-on-circle(
    $item-count: 10,
    $container-sizes: $gallery-size,
    $item-sizes: $gallery-item-size,
    $item-selector: (
      #{"&::v-deep .student-action__item"},
      #{".student-action__btn"},
    ),
    $item-start-position: -2
  );

  &__btn {
    img {
      max-width: 100%;
      height: auto;
      -webkit-user-drag: none;
    }
  }
  &__badge-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: #fff;
    font-weight: 600;
    padding-bottom: 4px;
  }

  &--large {
    $gallery-size: (
      $xs: 260px,
      $sm: false,
      $md: false,
      $lg: false,
      $xl: 360px,
      $xxl: false,
    );
    $gallery-item-size: (
      $xs: 60px,
      $sm: false,
      $md: false,
      $lg: false,
      $xl: 60px,
      $xxl: false,
    );
    @include draw-items-on-circle(
      $item-count: 13,
      $container-sizes: $gallery-size,
      $item-sizes: $gallery-item-size,
      $item-selector: (
        #{"&::v-deep .student-action__item"},
        #{".student-action__btn"},
      ),
      $item-start-position: -2
    );
  }

  position: absolute !important;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin: 0 !important;
}
