.whiteboard {
 position: relative;
  &__wrap{
    #canvas-container {
      position: relative;
      border: 1px solid #000;
      img {
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
      }
      .wrap-canvas {
        position: relative;
        z-index: 11;
        .canvas-container {
          width: 100%;
        }
      }
    }
  }
  &__space {
	  height: 70px;
  }
  &__button-show {
    border: 1px solid #000;
	box-shadow: 0 6px 6px -5px #333;
	animation: expandUp  0.1s ease-out;
	background-color: white;
    padding-top: 10px;
	position: absolute;
	z-index: 12;
	width: 100%;
    text-align: center;
    cursor: pointer;
	background-color: white;
	font-weight: 500;
	&--icon {
		img {
			animation: invertedUp  0.1s ease-out;
			width: 40px;
			height: 40px;
		}
	}
  }
  &__button-hide {
    border: 1px solid #000;
	border-top-width: 0;
	box-shadow: 0 6px 6px -5px #333;
	font-weight: 500;
	animation: expandDown  0.1s ease-out;
	background-color: white;
    padding: 10px;
	position: absolute;
	z-index: 12;
    text-align: center;
    cursor: pointer;
	top: 315px;
	width: 100%;
	background-color: white;
	&--icon {
		img {
			animation: invertedUp  0.1s ease-out;
			width: 40px;
			height: 40px;
			transform: rotate(180deg);
		}
	}
  }
}

//animations

@keyframes expandDown {
    0% {
        top: 0;
    }
    100% {
		top: 315px;
    }
}

@keyframes invertedDown {
    0% {
        transform: rotate(0)
    }
    100% {
		transform: rotate(180deg)
    }
}

@keyframes expandUp {
    0% {
        top: 300px
    }
    100% {
		top: 0;
    }
}

@keyframes invertedUp {
    0% {
        transform: rotate(180deg)
    }
    100% {
		transform: rotate(0deg)
    }
}