.annotation-view {
  position: relative;
  left: 0;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  img {
    max-width: 100%;
    position: relative;
    z-index: 11;
  }
  .cursor {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    left: -16px;
    top: -16px;
    z-index: 13;
    text-align: right;
    padding-top: 16px;
    img {
      z-index: 13;
      max-width: 25px;
    }
  }
  .canvas-container {
    position: absolute;
    z-index: 12;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
