@import "../../../style/abstracts/variables";
@import "../../../style/assets/_font.less";

.annotation-view-container {
  border: 1px solid black;
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  @media screen and (min-width: $md) and (max-width: $lg) {
    max-width: 550px;
    margin: auto;
  }
  @media screen and (max-width: $lap) and (min-width: $xl) and (max-height: $lapMaxHeight) and (min-height: $lapMinHeight) {
    max-width: 500px;
    margin: auto;
  }
  &__image {
	display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
	overflow: hidden;
    #annotation-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
	  margin: auto;
	  display: none;
    }
  }
  &__canvas {
    border-radius: 10px;
  }
  &.gallery-view {
    background: #f1f1f1;
    border-bottom-width: 1px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    canvas {
      opacity: 0;
      visibility: hidden;
    }
    &.whiteboard {
      background: none;
      canvas {
        opacity: 1;
        visibility: visible;
      }
    }
    &.whiteboard-palette {
      border-bottom-width: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
}

.palette-tool {
  display: flex;
  width: 100%;
  background: #d8dddf;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
  padding: 5px 10px;
  @media screen and (min-width: $md) and (max-width: $lg) {
    max-width: 550px;
    margin: auto;
  }
  @media screen and (max-width: $lap) and (min-width: $xl) and (max-height: $lapMaxHeight) and (min-height: $lapMinHeight) {
    max-width: 500px;
    margin: auto;
  }
  &__item {
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    &:hover {
      background: #fff;
    }
    img {
      width: 100%;
      height: 100%;
    }
    &.active {
      background: #fff;
    }
    &.white {
      background-color: #ccc;
    }
  }

  @media (min-width: $lg) {
    height: 100px;
    &__item {
      width: 45px;
      height: 45px;
    }
  }
}

.cursor {
  width: 10%;
  height: 10%;
  position: absolute;
  img {
    left: -45%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
  }
  z-index: 9999;
}

.disabled-pointer {
  pointer-events: none;
}

.colors-wrap {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.colors-item {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transition: all 0.2s ease-out;
  padding: 10px;
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
  }
  &.has-border {
    padding: 9px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  }
}
