.lesson-container {
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #e0e0e0;

  .lesson-container__header {
    background: #b62424;
    color: #fff;
    position: relative;

    .lesson-container__header-title {
      padding: 10px 15px;
      font-size: 24px;
      &--text-right {
        text-align: right;
        margin-right: 20px;
      }
    }

    .lesson-container__header-back {
      font-size: 3em;
      font-weight: bold;
      text-decoration: none;
      position: absolute;
      top: -11px;
      right: 15px;
      cursor: pointer;
    }
  }

  .lesson-container__body {
    overflow: auto;
    height: calc(100% - 60px);
    padding-left: 10px;
    padding-right: 10px;

    #lesson-container__remaining-time {
      display: flex;
      padding-top: 10px;
      p {
        &:first-child {
          flex: 2;
        }
        &:last-child {
          flex: 1;
          text-align: right;
        }
      }
    }

    .progress {
      background: white;
      border: solid 1px gray;
      height: 16px;
      width: 100%;

      .indicator {
        width: 100%;
        height: 100%;
        transform-origin: 0;
        background-color: black;
        transition: transform 0.3s ease-in-out;
        transform: scaleX(0);
      }
    }

    .activities {
      flex: 1;
      margin-top: 10px;
      background-color: #f8f8f8;
      border: solid 1px gray;
      overflow-y: auto;
    }
  }
}
