@import "../../../../style/abstracts/mixins";
@import "../../../../style/abstracts/variables";

.sc-gallery {
  $gallery-size: (
    $xs: 350px,
    $sm: false,
    $md: false,
    $lg: false,
    $xl: 450px,
    $xxl: 550px,
  );
  $gallery-item-size: (
    $xs: 70px,
    $sm: false,
    $md: false,
    $lg: false,
    $xl: 80px,
    $xxl: 100px,
  );
  user-select: none;
  align-self: center;

  @include draw-items-on-circle(
    $item-count: 11,
    $container-sizes: $gallery-size,
    $item-sizes: $gallery-item-size,
    $item-selector: (
      #{"&::v-deep .sc-gallery__item"},
      #{".sc-gallery-item"},
    ),
    $item-start-position: -2
  );
}
