@import "./src/style/abstracts/variables";

.language-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__button {
    border-width: 0;
    background: hsla(0, 11%, 95%, 0.15);
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    span {
      display: inline-block;
    }
    &--global {
      font-size: 24px;
    }
    &--text {
      padding-bottom: 4px;
    }
  }
  &__menu {
    width: 155px;
    &--item {
      margin-bottom: 5px;
      &__text {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.65);
      }
      &__logo {
        margin: 0 10px 0 0;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }
    }
  }
  &.desktop {
    @media (max-width: $lg) {
      display: none;
    }
  }
  &.mobile {
    margin-bottom: 15px;
  }
}
