.tools {
  padding: 5px;
  //min-width: 290px;
  display: flex;
  //   width: 100%;
  flex-direction: column;
  align-content: center;
  align-items: center;
  &--has-sticker {
    .tools__item {
      &--sticker {
        display: block;
      }
    }
  }
  &__item {
    min-width: 65px;
    position: relative;
    padding: 5px;
    // border: 1px solid black;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    flex: auto;
    &.selected {
      //   background-color: #f0f0f0;
      //   border-width: 3px;
    }
    &--sticker {
      display: none;
    }
    &__icon {
      &__stroke-line {
        background-color: black;
      }
      &__stroke-color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__name {
      margin: 0;
      text-align: center;
      font-weight: 500;
      padding: 5px 0;
    }
    &__submenu {
      display: none;

      &.open {
        display: block;
      }
      &__content {
        position: relative;

        &.stroke {
          .stroke-item {
            margin-bottom: 5px;
            padding: 10px;
            cursor: pointer;
            .stroke-item-line {
              background-color: black;
            }
          }
        }
        &.stroke-color {
          display: grid;
          grid-template-columns: auto auto;
          grid-column-gap: 10px;
          grid-row-gap: 10px;
          .color-item {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            padding: 10px;
          }
        }
      }
    }
    &__action__icons {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  .stroke__wrapper {
    position: absolute;
    width: 100%;
    left: 130%;
    z-index: 12;
	top: -42px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
}
