.tools {
  padding: 5px;
  //min-width: 290px;
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  &--has-sticker {
    .tools__item {
      &--sticker {
        display: block;
      }
    }
  }
  &__item {
    position: relative;
    padding: 5px;
    border: 1px solid black;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    flex: auto;
    &.selected {
      background-color: #f0f0f0;
      border-width: 3px;
    }
    &--sticker {
      display: none;
    }
    &__icon {
      &__stroke-line {
        background-color: black;
      }
      &__stroke-color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__name {
      margin: 0;
      text-align: center;
      font-weight: 500;
      padding: 5px 0;
    }
    &__submenu {
      display: none;
      &.open {
        display: block;
      }
      &__content {
        &.stroke {
          .stroke-item {
            margin-bottom: 5px;
            padding: 10px;
            cursor: pointer;
            .stroke-item-line {
              background-color: black;
            }
          }
        }
        &.stroke-color {
          display: flex;
          flex-wrap: wrap;
          .color-item {
            width: 20%;
            height: 30px;
          }
        }
      }
    }
  }
}
